{% extends "base/base.html" %}
{% block head %}
    {{ form.media }}
    <script>
        $.getJSON('/captcha/refresh/',function(json) {
        console.log(json);
        $("img.captcha").attr("src",json.image_url);
        $("#id_captcha_0").val(json.key);
    });
    </script>
{% endblock %}
{% load filters %}
{% block title%}编辑课程{% endblock %}
{% block footer %}
    <script src="/static/js/captcha.js"></script>
{% endblock %}
{% block content %}
{% if form.errors%}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {% for key,error in form.errors.items %}
        {{ key }}{{ error }}
        {% endfor %}
    </div>
{% endif %}
<div class="container">
    <form action="" method="post" class="user">
        <div class="row">
            <div class="card shadow mb-3 w-100">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">课程名称</h6>
                </div>
                <div class="card-body">
                    {{ form.name|addclass:'form-control form-control-user'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow mb-3 w-100">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">课程等级</h6>
                </div>
                <div class="card-body">
                    {{ form.degree|addclass:'form-control'}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow mb-3 w-100">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">课程简介</h6>
                </div>
                <div class="card-body">
                  {{ form.desc }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card shadow mb-3 w-100">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">课程详情</h6>
                </div>
                <div class="card-body">
                  {{ form.detail }}
                </div>
            </div>
        </div>
        <input name="teacher" type="hidden" value="{{ request.user.id }}">
        <div class="form-group row">
            <div class="col-sm-8">
                <input  class="form-control form-control-user" id="id_captcha_1" placeholder="请输入验证码" autocomplete="off" autocapitalize="off" spellcheck="false" name="captcha_1" type="text">
            </div>
            <div class="col-sm-2">
                <img style="height: 50px" class="captcha w-100" alt="captcha" src="{{image_url}}"><br></div>
            <input id="id_captcha_0" name="captcha_0" value="{{hashkey}}" type="hidden">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary btn-user btn-block w-100">提交</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}

