{% extends "base/base.html" %}
{% block head %}
    {{ form.media }}
{% endblock %}
{% load filters %}
{% block title%}浏览课程-{{ form.name }}{% endblock %}
{% block content %}
{% if form.errors%}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {% for key,error in form.errors.items %}
        {{ key }}{{ error }}
        {% endfor %}
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="card shadow mb-3 w-100">
            <div class="card-header d-flex flex-row py-3">
                <h6 class="m-0 p-2 font-weight-bold text-primary">讲师信息</h6>
                <h6 class="m-0 p-2 ml-auto right-align"><a class="card-link" href="/user/{{ form.teacher.id }}">详细信息</a></h6>
            </div>
            <div class="card-body">
                <div class="media">
                    <div class="media-left">
                        <img src="/upload/{{ form.teacher.image }}" style="width:100px">
                    </div>
                    <div class="media-body">
                        <div class="media-heading">
                            <h5>{{ form.teacher.nickname }}<sub>{{ form.teacher.email }}</sub></h5>
                            {{ form.teacher.desc }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow mb-3 w-100">
            <div class="card-header d-flex flex-row py-3">
                <h6 class="m-0 p-2 font-weight-bold text-primary">课程简介</h6>
            </div>
            <div class="card-body">
                {{ form.desc|safe }}
            </div>
        </div>
        <div class="card shadow mb-3 w-100">
            <div class="card-header d-flex flex-row py-3">
                <h6 class="m-0 p-2 font-weight-bold text-primary">课程详情</h6>
            </div>
            <div class="card-body">
                {{ form.detail|safe }}
            </div>
        </div>
                <div class="card shadow mb-3 w-100">
            <div class="card-header d-flex flex-row py-3">
                <h6 class="m-0 p-2 font-weight-bold text-primary">章节详情</h6>
            </div>
            <div class="card-body">
                {% for lesson in form.lesson_set.all %}
            <div class=" alert alert-info">
                <button type="button" class=" btn btn-link" data-toggle="collapse" data-target="#lessondetail{{ lesson.id }}"><span class="fas fa-plus-square"></span></button>
                <span>{{ lesson.name }}</span>
            </div>
            <div id="lessondetail{{ lesson.id }}" class="collapse in" style=" margin-left:40px;margin-bottom:10px;margin-top:0px">
            {% for detail in lesson.lessondetail_set.all %}
                <div class=" alert alert-info">
                    <a class="card-link" href="/course/{{ form.id }}/lesson/{{ lesson.id }}/detail/{{ detail.id }}/view"><span>{{ detail.name }}</span></a>
                </div>
            {% endfor %}
            </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}