<!DOCTYPE html>
<html lang="zn-cn">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="style.css" type="text/css" rel="stylesheet">
</head>
<body class="background">
<img src="framework.png" class="framework">
<img src="logo.png" class="logo">
<img src="message.png" class="message" usemap="#map1">
<div class="send1"><img src="1.png"></div>
<div class="send2"><img src="2.png"></div>

<map name="map1">
    <area href="file:///D:/Web-front-end-development/404/404.html" shape="rect" coords="610,680,810,730">
</map>
<form>
    <select class="input1" size="1">
        <option>北京邮电大学</option>

    </select>
    <input type="text" class="input2" size="25" maxlength="14">
    <input type="text" class="input3" size="25" maxlength="14">
    <input type="password" class="input4" size="25">
    <textarea class="input5" style="resize:none"></textarea>
    <label class="label1">学校</label>
    <label class="label2">学号</label>
    <label class="label3">昵称</label>
    <label class="label4">密码</label>
    <label class="label5">感兴趣领域</label>

</form>
</body>
</html>