{% extends "base/base.html" %}
{% block head %}
    {{ form.media }}
{% endblock %}
{% load filters %}
{% block title%}浏览课节-{{ form.name }}{% endblock %}
{% block content %}
{% if form.errors%}
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {% for key,error in form.errors.items %}
        {{ key }}{{ error }}
        {% endfor %}
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="card shadow mb-3 w-100">
            <div class="card-header d-flex flex-row py-3">
                <h6 class="m-0 p-2 font-weight-bold text-primary">课程内容</h6>
            </div>
            <div class="card-body">
                {{ form.detail|safe }}
            </div>
        </div>
    </div>
</div>


{% endblock %}