<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    {{ form.media }} {# 加载JS，CSS #}
</head>
<body>

<form action="" method="post">
        {{ form }}
        <button type="submit"> Upload </button>
        <div class="error btns login-form-tips">
            {% for key,error in form.errors.items %}
                {{ error }}
            {% endfor %}
        </div>

{% csrf_token %}
</form>

</body>
</html>