{% extends "base/base.html" %}
{% block footer %}
    <script src="/static/js/captcha.js"></script>
{% endblock %}
{% block content %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle" style="text-align: center">
  <div class="mdc-card">
    <section class="mdc-card__primary">
        <center><h1 class="mdc-card__title mdc-card__title--large">登录</h1></center>
        <div>
            {% for key,error in login_form.errors.items %}{{ error }}{% endfor %}
        </div>
    </section>
    <section class="mdc-card__supporting-text">
    <form action="/user/login/" method="post" autocomplete="off">
        用户名:
          <div class="mdc-text-field mdc-text-field--box w-30">
              <input type="text" name="username" id="account_l" class="mdc-text-field__input" aria-controls="name-validation-message" placeholder="用户名">
          </div>
        密码:
          <div class="mdc-text-field mdc-text-field--box w-30">
            <input name="password" id="password_l" type="password" class="mdc-text-field__input" aria-controls="name-validation-message" placeholder="密码">
          </div>

        验证码
        <div class="mdc-text-field mdc-text-field--box w-30">
                <input id="id_captcha_1" class="mdc-text-field__input" placeholder="请输入验证码" autocomplete="off" autocapitalize="off" spellcheck="false" name="captcha_1" type="text" >
                <img class="captcha" alt="captcha" src="{{image_url}}">
                <input id="id_captcha_0" name="captcha_0" value="{{hashkey}}" type="hidden">
                {{ login_form.captcha.errors }}
        </div>
        <button class="mdc-button mdc-button--raised">
                  登录
        </button>
    {% csrf_token %}
    </form>
    </section>
  </div>
</div>
{% endblock %}